:root {
  /* --werder: #007642;
  --eucalyptus: #1c9c4a;
  --salem: #0f973f;
  --racing-green: #08100c;
  --nebula: #d9e4de;
  --pastel-green: #73da8c;
  --fern: #5bb77d;
  --jumbo: #8c8c8f;
  --magic-mint: #84f0a4;
  --white: #fafafa; */

  /* https://www.canva.com/colors/color-palette-generator/ */
  --japanese-laurel: #04741c;
  --salem: #0a9b3e;
  --dark-slate-gray: #09110d;
  --light-steeel-blue: #dbe5df;
  --medium-aquamarine: #73da8c;

  --space: 16px;
}

/* body {
  font-family: "Hind", sans-serif;
  font-weight: normal;
  color: hsla(0, 0%, 0%, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
} */

@media (min-width: 480px) {
  html {
    font-size: 112.5%;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 125%;
  }
}

/* @media (min-width: 600px) {
  :root {
    --space: 40px;
  }

  html {
    font-size: 125%;
  }
} */

/* @media (min-width: 960px) {
  :root {
    --space: 80px;
  }
}

body {
  background-color: var(--white);
} */
