:root {
  --eucalyptus: #1c9c4a;
  --salem: #0f973f;
  --racing-green: #08100c;
  --nebula: #d9e4de;
  --pastel-green: #73da8c;
  --fern: #5bb77d;
  --jumbo: #8c8c8f;
  --magic-mint: #84f0a4;
  --white: #fafafa;
}

body {
  background-color: var(--white);
}
