.layout {
  display: flex;
  flex-direction: column;
}

.intro {
  display: grid;
  gap: 32px;
  align-content: center;
  /* gap: 32px; */
}

.logo {
  margin: 32px 0;
  max-width: 220px;
}

@media (min-width: 480px) {
  .intro {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    align-content: center;
  }
}

.content {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 32px;
}

.section:nth-child(2n) {
  background-color: beige;
}
